<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cybersafetyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityPackage.WelcomeToCybersafetyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.Aboutus">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.Aboutus" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.LogIn">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.LogIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.Register">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.Dashboard">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.Dashboard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.AddNewProfile">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.AddNewProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.SearchByUserName">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.SearchByUserName" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.SearchResultProfiles">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.SearchResultProfiles" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.Notifications">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.Notifications" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.InstagramLogin">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.InstagramLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.WaitForToken">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.WaitForToken" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.WaitForResults">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.WaitForResults" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.VineLogin">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.VineLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.MonitoringProfileList">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.MonitoringProfileList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.UserSocialNetworkInformationDetail">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.UserSocialNetworkInformationDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.UserPostInformationActivity">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.UserPostInformationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPackage.PostInformationDetails">
            <intent-filter>
                <action android:name="com.example.cybersafetyapp.PostInformationDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".IntentServicePackage.IntentServiceGetJson" />
        <service
            android:name=".IntentServicePackage.IntentServiceInstagram"
            android:exported="false" />
        <service
            android:name=".IntentServicePackage.IntentServiceVine"
            android:exported="false" />

        <receiver android:name=".HelperClassesPackage.AlertReceiver" />

        <service
            android:name=".IntentServicePackage.IntentServiceNotification"
            android:exported="false" />
        <service
            android:name=".IntentServicePackage.IntentServiceServer"
            android:exported="false"></service>
    </application>

</manifest>